@import url('https://fonts.googleapis.com/css?family=Lobster');

*{
  margin: 0;
  padding: 0;
}

header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: lightpink;
  background-color: #272727;
  font-family: 'Lobster', cursive;
}

main.grid {
  display: grid;
  grid-gap: 20px;
  margin: 30px 10px;
  align-items: stretch;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

main.grid img {
  max-width: 100%;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
}
